<!DOCTYPE html>
<html>
<head>
  <title>Prattle</title>
  <%= stylesheet_link_tag    "prattle/application", media: "all" %>
  <%= javascript_include_tag "prattle/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
